<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Connecting Students</title>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <button type="button" style="margin-left: 50%;" onclick="window.location.href='/'">Back to Main</button>
    <button type="button" style="margin-left: 50%;" onclick="window.location.href='/list/users'">See All Users</button>
    <div id="map"></div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDanzu3x3EEBjImVNBU_XZPqzcAK2b-mb4&callback=initMap">
    </script>
    <script src="../static/script.js"> </script>
    <script type="text/javascript"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </body>
</html>
