<form>

<div class="custom-select" style="width:250px;">
  <select>
    <option value="0">Select high school:</option>
    <option value="1">Cesar Chavez High School- Capitol Hill Campus</option>
    <option value="2">Catholic Memorial School</option>
    <option value="3">Riverhill High School</option>
    <option value="4">Freeman High School</option>
  </select>
</div>

<div class="custom-select" style="width:250px;">
  <select>
    <option value="0">Select College/University:</option>
    <option value="1">Virginia Commonwealth University</option>
    <option value="2">Saint Johns University</option>
    <option value="3">University of Virginia</option>
    <option value="4">University of Maryland</option>
  </select>
</div>

<input type="submit">
<!-- <form action="http://localhost:8000/datastore"> -->
</form>
