<html>
  <head>
    <link rel="stylesheet" href="../static/profiles.css">
    <title> {{ name }} | Profile</title>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <p class="profileInfo">Graduated from {{ highschool }}.</p>
    <p class="profileInfo">Will be going to {{ college }}.</p>
    <p class="profileInfo"> Connect: {{ email }} </p>
    <button class="schoolButtons" type="button" onclick="window.location.href='/college?collong={{collong}}'">Colleges</button>
    <br>
    <button class="schoolButtons" type="button" onclick="window.location.href='/highschool?hslong={{hslong}}'">Highschool</button>
    <br>
    <button class="schoolButtons" type="button" onclick="window.location.href='/map'">View Map</button>
    <br><br>
    <a href="/login"> Log Out</a>
    <br>
  </body>
</html>
