<html>
<head>
  <!-- <link rel="stylesheet" href="style.css">
  <script src="script.js" type="text/javascript"></script> -->

</head>
<body>
  <h1>Sign Up</h1>
  <form action="/profile" method="post"> <!-- go to profile page or the map after -->
    <div>Username: <input type="text" name="username"></div>
    <div>Name: <input type="text" name="name"></div>
    <div>High School: <input type="text" name="highschool"></div>
    <div>Longitute: <input type="text" name="long1"></div>
    <div>Latitude: <input type="text" name="lat1"></div>
    <div>College: <input type="text" name="college"></div>
    <div>Longitute: <input type="text" name="long2"></div>
    <div>Latitude: <input type="text" name="lat2"></div>
    
    <form>

<div class="custom-select" style="width:250px;">
  <select>
    <option value="0">Select high school:</option>
    <option value="1">Cesar Chavez High School- Capitol Hill Campus</option>
    <option value="2">Catholic Memorial School</option>
    <option value="3">Riverhill High School</option>
    <option value="4">Freeman High School</option>
  </select>
</div>

<div class="custom-select" style="width:250px;">
  <select>
    <option value="0">Select College/University:</option>
    <option value="1">Virginia Commonwealth University</option>
    <option value="2">Saint Johns University</option>
    <option value="3">University of Virginia</option>
    <option value="4">University of Maryland</option>
  </select>
</div>

<input type="submit">
</form>
    <input type="submit" value="Sign Up">
  </form>
</body>
</html>
